<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');">
    <article class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="three_quarter first">
            <h6 class="nospace">Yorum Yaz</h6>
            </div>
        <footer class="one_quarter"><a class="btn" href="/view">Yorum Yaz &raquo;</a></footer>
        <!-- ################################################################################################ -->
    </article>
</div>