<div class="wrapper row3" >
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="center btmspace-80">
            <h3 class="heading">YORUMLAR</h3>
        </div>

        <ul class="nospace group services">
            {% for yorum in yorumlar %}
               <li class="one_third">
                <article><a href="#"><i class="em em-female_elf"></i></a>
                    {% for user in userad %}
                        {% if(user.id== yorum.userid) %}
                            <h6 class="heading">{{ user.name }}</h6>
                        {% endif %}
                    {% endfor %}
                     <p>{{yorum.aciklama}}&hellip;</p>
                    <footer><a href="/yurtdetay/{{ yorum.yurtid }}">Read More &raquo;</a></footer>
                </article>
            </li>
            {% endfor %}
        </ul>

        <br>
        <div class="right btmspace-80">
            <footer><a class="btn" href="#">Tüm Yorumlar</a></footer>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>