<form method="post" action="{{ path('admin_ayarlar_delete', {'id': ayarlar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ayarlar.id) }}">
    <button class="btn btn-danger btn-sm pull-right" >Sil</button>
</form>
