<div class="wrapper row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="btmspace-50 center">
            <h2>İllere Göre En İyiler</h2>
            <p>Mattis donec et laoreet urna vitae maximus elit quisque interdum nisl</p>
        </div>
        <ul class="nospace group">
            <li class="one_third first">
                <article class="excerpt"><a href="#"><img class="inspace-10 borderedbox" src="images/demo/320x220.png" alt=""></a>
                    <div class="excerpttxt">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> 06/01/45</li>
                            <li><i class="fa fa-comments"></i> <a href="#">4</a></li>
                        </ul>
                        <h6 class="heading font-x1">Magna ut ultrices tellus maecenas bibendum&hellip;</h6>
                        <p><a href="#">Read More &raquo;</a></p>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article class="excerpt"><a href="#"><img class="inspace-10 borderedbox" src="images/demo/320x220.png" alt=""></a>
                    <div class="excerpttxt">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> 05/01/45</li>
                            <li><i class="fa fa-comments"></i> <a href="#">4</a></li>
                        </ul>
                        <h6 class="heading font-x1">Est molestie sed aliquam lobortis lacinia mauris&hellip;</h6>
                        <p><a href="#">Read More &raquo;</a></p>
                    </div>
                </article>
            </li>
            <li class="one_third">
                <article class="excerpt"><a href="#"><img class="inspace-10 borderedbox" src="images/demo/320x220.png" alt=""></a>
                    <div class="excerpttxt">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> 04/01/45</li>
                            <li><i class="fa fa-comments"></i> <a href="#">4</a></li>
                        </ul>
                        <h6 class="heading font-x1">Volutpat leo a viverra venenatis integer dictum&hellip;</h6>
                        <p><a href="#">Read More &raquo;</a></p>
                    </div>
                </article>
            </li>
        </ul>
        <br><br>
        <div class="right btmspace-80">
            <footer><a class="btn" href="#">Tümü</a></footer>
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
