<div class="wrapper row3" >
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="center btmspace-80">
            <h3 class="heading">YORUMLAR</h3>
        </div>
        <ul class="nospace group services">
            <li class="one_third first">
                <article><a href="#"><i class="em em-female_elf"></i></a>
                    <h6 class="heading">Ayşe Karadağ</h6>
                    <p>Bu yurt harika!Arcu dignissim interdum quis vel est aenean hendrerit lacus &hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="em em-person_frowning"></i></a>
                    <h6 class="heading">Meltem Aydın</h6>
                    <p>Yemekler çok kötü!Arcu dignissim interdum quis vel est aenean hendrerit lacus &hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="em em-man-pouting"></i></a>
                    <h6 class="heading">Talha Şen</h6>
                    <p>Okula uzak ama modern!Arcu dignissim interdum quis vel est aenean hendrerit lacus &hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third first">
                <article><a href="#"><i class="em em-woman-pouting"></i></a>
                    <h6 class="heading">Derya Türk</h6>
                    <p> Tavsiye ederim!Arcu dignissim interdum quis vel est aenean hendrerit lacus &hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="em em-man-frowning"></i></a>
                    <h6 class="heading">Ali Aslan</h6>
                    <p>Fiyatına göre iyi bir apart.Arcu dignissim interdum quis vel est aenean hendrerit lacus &hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><a href="#"><i class="em em-woman-pouting"></i></a>
                    <h6 class="heading">Mauris proin venenatis</h6>
                    <p>Arcu dignissim interdum quis vel est aenean hendrerit lacus non nisl iaculis sed suscipit&hellip;</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
        </ul>
        <br>
        <div class="right btmspace-80">
            <footer><a class="btn" href="#">Tüm Yorumlar</a></footer>
        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>