<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');">
    <article class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="three_quarter first">
            <h6 class="nospace">İlanlarını gör</h6>
            <p class="nospace">iLan verebilir ilanlarınızı görüntüleyebilirsiniz</p>
        </div>
        <footer class="one_quarter"><a class="btn" href="/yurtpanel">More Information &raquo;</a></footer>
        <!-- ################################################################################################ -->
    </article>
</div>