<form method="post" action="{{ path('yurt_delete', {'id': deneme.id}) }}" onsubmit="return confirm('Silmek istediginizden emin misiniz?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deneme.id) }}">
    <button class="btn btn-danger btn-sm pull-right" >Sil</button>
</form>
